<!-- Loop over each object in the blog array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog justify-center" blog-id={{blog.id}}>
  <div class="col-md-6">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>  
    <p>posted by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.content}}
    </p>
  </div>
  <div class="col-md-6 justify-center blog-block">
    {{#if logged_in}}
      <textarea rows="5" cols="40"></textarea> |
      <button class="comment-btn">ADD COMMENT</button> |
    {{/if}}
    {{#if logged_in}}
      <div class= "upvote-container">
      <button class="like-or-dislike-btn" data-blog-id={{blog.id}}>
        <i class="fa fa-thumbs-up"></i>
      </button>
      <p class="likecount">0</p>

      <button class="like-or-dislike-btn" data-blog-id={{blog.id}}>
        <i class="fa fa-thumbs-down"></i>
      </button>
      <p class="dislikecount">0</p>
      </div>
      {{else}}
        <div class= "upvote-container">
        <i class="fa fa-thumbs-up"></i>
      <p class="likecount">0</p>
        <i class="fa fa-thumbs-down"></i>
      <p class="dislikecount">0</p>
    </div>
    {{/if}}
    </p>
    </div>
</div>
{{/each}}

<script src="./js/upvote.js"></script>