<!-- Loop over each object in the blog array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-6">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>posted by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.content}}
    </p>
  </div>
    <p>
      <textarea></textarea>
      <button class="comment-btn">Add Comment</button>
    </p>
</div>
{{/each}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../public/js/addcomment.js"></script>